
@model AssignmentFormViewModel?

<input data-name="assigmentCustomerFK" value="" type="hidden" />
<input data-row-id="hiddenAssignmentSum" property-name="assignmentData" name="SummeAuftrag" value="" type="hidden" />
<div class="assignmentModal">
    <div class="alignContentEndContainer">
        <a class="btn btn-small btn-primary" onclick="closeNewAssignment()">X</a>
    </div>
    <div class="ModuleWrapper">
        <div>
            <div id="customerSelection">
                <div class="form" id="customerSearchForm">
                    <span id="customerSearch">
                        <label id="searchBarLabel">Kunden auswählen:</label><br />
                        <input class="searchBar" id="customerSearchBar" placeholder="Suche ..." oninput="search(this, this.value, '/Home/SearchResultPartialCustomer/')" required />
                    </span>
                    <span>
                        <a id="btnAddCustomer" class="btn btn-secondary" onclick="openCustomerForm(this)">Kunde anlegen</a>
                    </span>
                </div>
                <div class="gridContentContainer gridListContent3">
                    <div class="customerFormContainer" id="selectedCustomer">
                    </div>
                    <div class="shareholderFormContainer" id="selectedShareholder">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ModuleWrapper">
        @await Html.PartialAsync("PositionListForm", Model?.Artikel)
        @await Html.PartialAsync("AssignmentSumForm")
    </div>
    <div class="ModuleWrapper">
        @await Html.PartialAsync("BonusForm")
    </div>
    <div class="ModuleWrapper">
        @await Html.PartialAsync("NoticeForm")
    </div>
    <div class="ModuleWrapper">
        <div class="gridContentContainer gridListContent2 ">
            <div>
                @if (Model?.Vertriebsmitarbeiter != null)
                {
                    @Html.DisplayFor(modelItem => Model.Vertriebsmitarbeiter, "SalesStaffInformation")
                }
            </div>
            <div class="alignContentEndContainer">
                <a class="btn btn-primary" onclick="saveNewAssignment()">Auftrag anlegen</a>
            </div>
        </div>
    </div>
</div>