@*
    // Displays a new Position with options to change Amount of selected Article.
    // Parent: PositionListForm.cshtml.
*@

@{
    string jsonPriceFormat = Model?.Artikel?.Preis.ToString().Replace(',', '.') ?? string.Empty;
    Position? position = Model?.Position;
    Artikel? artikel = Model?.Artikel;
}

@model PositionViewModel?

<div class="positionListRowWrapper">
    <div class="positionListRowContent" property-name="positionsListData">
        <input property-name="positionData" name="FK_Artikel" value="@artikel?.PK_Artikel" type="hidden" />
        <input data-row-id="hidden@(position?.PositionsNummer)" property-name="positionData" name="SummePosition" value="@position?.SummePosition" type="hidden" />
        <input property-name="articleData" name="Preis" value="@jsonPriceFormat" type="hidden" />
        <div>@artikel?.Artikelnummer</div>
        <div>@artikel?.Bezeichnung1</div>
        <div>@artikel?.Bezeichnung2 </div>
        <div>
            @if (artikel?.Preis != null)
            {
                @Html.DisplayFor(modelItem => (artikel.Preis), "FormatCurrency")
            }
        </div>
        <div class="horizontal-group">
            <input class="decimalInput" property-name="positionData" name="Menge" value="1"
                   oninput="changePositionAmount(this, @jsonPriceFormat, @position?.PositionsNummer)" />
            <a class="btn btn-small btn-secondary" id="increment_@artikel?.PK_Artikel" onclick="incrementPositionAmount(this.parentNode.querySelector('input'), @jsonPriceFormat, @position?.PositionsNummer)">+</a>
            <a class="btn btn-small btn-secondary" id="decrement_@artikel?.PK_Artikel" onclick="decrementPositionAmount(this.parentNode.querySelector('input'), @jsonPriceFormat, @position?.PositionsNummer)">-</a>
        </div>
        <div>@artikel?.Verpackungseinheit</div>
        <div data-row-id="@position?.PositionsNummer">
            @if (position?.SummePosition != null)
            {
                @Html.DisplayFor(modelItem => (position.SummePosition), "FormatCurrency")
            }
        </div>
        <div>
            <a class="btn btn-small btn-secondary" onclick="removePosition(this.parentNode.parentNode.parentNode)">x</a>
        </div>
    </div>
</div>