@{
    ViewData["Title"] = "Assignment Page";
    IEnumerable<AssignmentViewModel> sortedModel = Model
        .OrderByDescending(i => i.Auftrag.ErstelltAm)
        .ThenByDescending(ii => ii.Auftrag.LetzteStatusAenderung);
    var jsonModel = System.Text.Json.JsonSerializer.Serialize(Model);

}
@model List<AssignmentViewModel>


<div class="gridContainer">
    <div class="headerListWrapper">
        <div class="gridListContent gridListContent9">
            <div>Auftrag ID</div>
            <div>Kunde</div>
            <div>Firma</div>
            <div>Gesellschafter</div>
            <div>Summe Auftrag</div>
            <div>Hat Zugabe</div>
            <div>Erstellt Am</div>
            <div>Letzte Statusänderung</div>
            <div>Status</div>
        </div>
    </div>
    <div>
        @foreach (var row in sortedModel)
        {
            @await Html.PartialAsync("Partials/AssignmentListRow", row)
        }
    </div>
</div>