@{
    ViewData["Title"] = "Assignment Page";
}
@model List<AssignmentViewModel>

<div class="gridContainer">
    <div class="headerListWrapper">
        <div class="gridListContent gridListContent7">
            <div>Auftrag ID</div>
            <div>Firma</div>
            <div>Summe Auftrag</div>
            <div>Hat Zugabe</div>
            <div>Erstellt Am</div>
            <div>Letzte Statusänderung</div>
            <div>Status</div>
        </div>
    </div>

    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
            @await Html.PartialAsync("Partials/AssignmentListRow", Model[i])
        }
    </div>
</div>