@* 
// INIT: first view to be shown when client accesses application after successfull login.
// Controller: HomeController.
*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>