################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/VTAuftragserfassung/bin/Debug/net8.0-windows8.0/VTAuftragserfassung.dll
