@model double

<div class="alignContentEndContainer">
    <div class="keyValue">
        <div class="key"><span>Gesamt: </span></div><div class="value">  @Html.DisplayFor(modelItem => Model, "FormatCurrency")</div>
    </div>
</div>