@*
    // Displays Positions for selected Assignment.
    // Parent: AssignmentDetails.cshtml.
*@

@model List<PositionViewModel>?

<div class="headerListWrapper">
    <div class="gridListContentContainer gridListContent8">
        <div>Art. Nr.</div>
        <div>Bezeichnung</div>
        <div>Zusatzbezeichnung</div>
        <div>Einzelpreis Netto</div>
        <div>Menge</div>
        <div>Verpackungseinheit</div>
        <div>Pos. Gesamtpreis Netto</div>
    </div>
</div>
<div>
    <div>
        @if (Model != null)
        {
            @foreach (var pvm in Model)
            {
                @await Html.PartialAsync("PositionListRowDetails", pvm)
            }
        }
    </div>
</div>