@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login Page";
}
@model List<Auth>

<div class="" style="padding: 3rem; padding-top: 5rem">
        <div class="col-md-3">
            <h2><strong>Login</strong></h2><br />
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="userId" name="userId" placeholder="Mitarbeiter ID" onkeypress="onEnterPressButton('submitLogin', event)"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="auth" name="auth" placeholder="Passwort" onkeypress="onEnterPressButton('submitLogin', event)">
            </div>
            <div class="form-check" style="padding-top:1rem; padding-left:0">
                <button id="submitLogin" onclick="submitLogin()" class="btn btn-primary">Submit</button>
            </div>
        </div>
</div>
