/* Global Styles */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #165b9e6b;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
    border: solid 1px #f9f9f9;
}

::-webkit-scrollbar-thumb {
    background: #165b9e6b;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    color: #165b9e;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #165b9e;
    color: white;
}

body {
    margin-bottom: 60px;
}

/* Alignment */

.horizontal-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.alignContentEndContainer {
    display: flex;
    justify-content: flex-end;
}

.horizontal-group span {
    margin-right: 8px;
}

/* Module */

.ModuleWrapper {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #f9f9f9;
}

/* Button */

.btn {
    color: #f2f2f2;
    display: inline-block;
    min-width: fit-content;
    max-width: 100px;
    vertical-align: central;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .btn:hover {
        color: #f2f2f2;
    }

    .btn:active {
        background-color: #165b9e;
    }


.btn-small {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    margin-left: 4px;
    width: 25px;
    font-size: 12px;
}

.btn-primary {
    color: #fff;
    background-color: #333;
}

    .btn-primary:hover {
        background-color: #6c757d;
        box-shadow: 0 0 4px 2px #165b9e6b;
    }

    .btn-primary:active {
        background-color: #165b9e;
    }

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #545b62;
        box-shadow: 0 0 4px 2px #165b9e6b;
    }

    .btn-secondary:active {
        background-color: #165b9e;
    }

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}

    .closeButton:hover {
        color: #333;
    }

.btnLogout {
    font-size: 18px;
    border: none;
    color: white;
    background-color: #333;
    text-decoration: none;
}

    .btnLogout:hover {
        color: #f2f2f2;
        background-color: darkred;
        box-shadow: 0 0 4px 2px #165b9e6b;
    }

/* Nav */

.btnNav {
    padding: 5px;
    font-size: 18px;
    border: none;
    color: #f2f2f2;
    background-color: #333;
    text-decoration: none;
    max-width: fit-content;
}

    .btnNav:hover {
        background-color: #6c757d;
        box-shadow: 0 0 4px 2px #165b9e6b;
    }

.btNav:active {
    background-color: #165b9e;
}

.txtNav {
    padding: 2.5px;
    font-size: 18px;
    font-weight: 420;
    margin: 0 30px;
    min-width: 120px;
    border: none;
    color: #165b9e;
}

/* Input */

input {
    padding: 2px 2px;
    margin: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

label {
    min-width: fit-content;
    width: 100px;
}

.error-border {
    border: 1px solid red;
    color: red;
}

/* Search Table */

#searchTable {
    position: absolute;
    z-index: 100;
    max-height: 25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchResult {
    position: relative;
    width: 100%;
    z-index: 100;
}

#resultTblBody {
    max-height: 25rem;
}

.resultTblRow {
    display: block;
    padding: 2.5px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

    .resultTblRow:hover {
        background-color: #e0e0e0;
        color: #165b9e;
    }


/* Grid Styles */

.gridContainer {
    overflow: auto;
    overflow-x: hidden;
    bottom: 0;
    top: 0;
}

.headerListWrapper {
    position: sticky;
    top: 0;
    border: 1px solid #165b9e6e;
    box-shadow: 0 0 3px 1px #165b9e6F;
    border-radius: 5px;
}

.gridListContent {
    display: grid;
    background-color: #f9f9f9;
    padding: 2.5px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 1px 2px #165b9e0f;
    border-radius: 5px;
}

.gridListContent2 {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.gridListContent3 {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.gridListContent5 {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.gridListContent7 {
    grid-template-columns: repeat(7, minmax(100px, 1fr));
}

.gridListContent8 {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
}

.gridListContent9 {
    grid-template-columns: repeat(9, minmax(100px, 1fr));
}

.gridListContentSearchResult {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2.5px;
    text-align: left;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

    .gridListContentSearchResult:hover {
        background-color: #f0f0f0;
        color: #165b9e;
    }

    .gridListContentSearchResult:active {
        background-color: #dcdcdc;
    }

    .gridListContentSearchResult > div {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        font-size: 14px;
    }

/*Assignment List*/

.assignmentListRowWrapper {
    background-color: #f9f9f9;
    cursor: pointer;
}

.assignmentListRowContent {
    display: grid;
    grid-template-columns: repeat(9, minmax(100px, 1fr));
    background-color: #f9f9f9;
    padding: 2.5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 1px 2px #165b9e0f;
    border-radius: 5px;
}

    .assignmentListRowContent:hover {
        color: #165b9e;
        box-shadow: inset 0 0 4px 2px #165b9e6b;
    }

/*AssignmentList Details*/


.assignmentListRowWrapper .assignmentDetailsPartial {
    display: grid;
    grid-template-rows: 0fr;
    color: #fff0;
    padding: 0;
    transition: grid 0.2s ease-in-out;
    box-shadow: inset 0 0 10px 1px #165b9e6b;
    border-radius: 5px;
}

.assignmentListRowWrapper.show .assignmentListRowContent {
    box-shadow: inset 0 0 10px 1px #165b9e6b;
    color: #165b9e;
}

.assignmentListRowWrapper.show .assignmentDetailsPartial {
    box-shadow: inset 0 0 10px 1px #165b9e6b;
    padding: 20px;
    grid-template-rows: 1fr;
    opacity: 1;
    color: #000;
}

.assignmentListRowWrapper .assignmentDetailsPartial > .assignmentDetailsWrapper {
    overflow: hidden;
}

.assignmentListRowWrapper.show .assignmentDetailsPartial > .assignmentDetailsWrapper {
    width: 100%;
}


/* Position List */

.positionListRowWrapper {
    background-color: #f2f2f2;
    cursor: pointer;
}

.positionListRowContent {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    background-color: #f2f2f2;
    border-bottom: dotted 1px #165b9e6b;
    padding: 2.5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.decimalInput {
    width: 50px;
    margin: 0;
    padding: 0 2px;
}
/* New Assignment */
.assignmentModalContainer {
    position: fixed;
    width: 70%;
    padding: 1rem;
    height: fit-content;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.assignmentModal {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 1rem;
}


.noticeInput {
    width: 100%;
    height: 80px;
    padding: 0 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* Shareholder Details*/

.shareholderDetailsContainer {
    align-items: center;
    padding: 5px;
    grid-column: 3;
}

/* Customer Details */
.customerDetailsContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 2fr));
    column-gap: 10px;
    row-gap: 1px;
    align-items: center;
    padding: 5px;
    grid-column: 1/2;
}

.keyValue {
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.key {
    min-width: 5.5rem;
    color: #333;
    padding: 0 2.5px;
}


.value {
    padding: 0 2.5px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #f2f2f2;
    width: -webkit-fill-available;
    white-space: nowrap;
}


.valueNotice {
    padding: 0 2.5px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -webkit-fill-available;
    background-color: #f2f2f2;
}

.customerDetailsContainer #company {
    grid-row: 1;
    grid-column: 1/2;
}

.customerDetailsContainer #isWorkshopOrTrader {
    grid-row: 1;
    grid-column: 2/3;
}

.customerDetailsContainer #customerId {
    grid-row: 2;
    grid-column: 1/2;
}

.customerDetailsContainer #telephone {
    grid-row: 2;
    grid-column: 2/3;
}

.customerDetailsContainer #firstName {
    grid-row: 3;
}

.customerDetailsContainer #lastName {
    grid-row: 3;
    grid-column: 2/3;
}

.customerDetailsContainer #mail {
    grid-row: 4;
}

.customerDetailsContainer #street {
    grid-row: 6;
    grid-column: 1/2;
}

.customerDetailsContainer #postalCode {
    grid-row: 7;
}

.customerDetailsContainer #city {
    grid-row: 7;
    grid-column: 2/3;
}

.customerDetailsContainer #notice {
    grid-row: 1;
    grid-column: 1/2;
}
