/* Global Styles */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #165b9e;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    color: #165b9e;
}

footer {
    position: fixed;
    background-color: #165b9e;
    color: white;
    bottom: 0;
}

body {
    height: 100%;
    margin-bottom: 60px;
}

.btnLogout {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 12px;
}

.btnNav {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    color: #f2f2f2;
    background-color: Black;
    text-decoration: none;
    border-radius: 12px;
}

.txtNav {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    color: #f2f2f2;
    background-color: #165b9eD7;
    border-radius: 12px;
}

/* Search Table */

#searchTable {
    max-height: 25rem;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchResult {
    position: absolute;
    z-index: 100;
}

.resultTblRow {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

    .resultTblRow:hover {
        background-color: #e0e0e0;
        color: #165b9e;
    }


/* Grid Styles */
.gridContainer {
    border: 1px solid #ddd;
}

.headerListWrapper {
    position: sticky;
    top: 0;
    border: 1px solid #ddd;
}

.gridListContent {
    display: grid;
    background-color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gridListContent2 {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.gridListContent5 {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.gridListContent7 {
    grid-template-columns: repeat(7, minmax(100px, 1fr));
}

.gridListContentSearchResult {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
    .gridListContentSearchResult:hover {
        background-color: #f0f0f0;
        color: #165b9e;
    }
    .gridListContentSearchResult:active {
        background-color: #dcdcdc;
    }
    .gridListContentSearchResult > div {
        margin-bottom: 8px;
        margin-left: 10px;
        margin-right: 10px;
        width:100%;
        font-size: 14px;
    }
/*Assignment List*/
.assignmentListRowWrapper {
    background-color: #f9f9f9;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    cursor: pointer;
}

.assignmentListRowContent {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    background-color: #f9f9f9;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .assignmentListRowContent:hover {
        background-color: #165b9eD7;
        color: #f2f2f2;
    }

/*AssignmentList Details*/


.assignmentListRowWrapper .assignmentDetailsPartial {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
    border: none;
}

.assignmentListRowWrapper.show .assignmentDetailsPartial {
    grid-template-rows: 1fr;
    opacity: 1;
}

.assignmentListRowWrapper .assignmentDetailsPartial > .assignmentDetailsWrapper {
    overflow: hidden;
}

.assignmentListRowWrapper.show .assignmentDetailsPartial > .assignmentDetailsWrapper {
    padding: 20px;
    width: 100%;
    border: solid 2px;
}


/* Position List */

.positionListRowWrapper {
    background-color: #f2f2f2;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    cursor: pointer;
}

.positionListRowContent {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    background-color: #f2f2f2;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* New Assignment */

.assignmentModalContainer {
    position: fixed;
    width: 70%;
    padding: 2rem;
    height: fit-content;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.assignmentModal {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 1rem;
}

.noticeInput {
    width: 100%;
    height: 150px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* Optional: Stil für den Schließen-Button im Modal */
.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}

    .closeButton:hover {
        color: #333;
    }
