/* Global Styles */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #165b9e;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    color: #165b9e;
}

footer {
    background-color: #165b9e;
    color: white;
    bottom: 0;
}

body {
    height: 100%;
    margin-bottom: 60px;
}



.btnLogout {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 12px;
}

.btnNav {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    color: #f2f2f2;
    background-color: Black;
    text-decoration: none;
    border-radius: 12px;
}

.txtNav {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
    color: #f2f2f2;
    background-color: #165b9eD7;
    border-radius: 12px;
}


/* Grid Styles */
.gridContainer {
    border: solid 1px;
}

.headerListWrapper {
    position: sticky;
    top: 0;
    border: solid 1px;
}

.gridListContent {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Assignment List*/
.assignmentListRowWrapper {
    background-color: #f2f2f2;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    cursor: pointer;
}

.assignmentListRowContent {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    background-color: #f2f2f2;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .assignmentListRowContent:hover {
        background-color: #165b9eD7;
        color: #f2f2f2;
    }

/*AssignmentList Details*/


.assignmentListRowWrapper .assignmentDetailsPartial {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
    border: none;
}

.assignmentListRowWrapper.show .assignmentDetailsPartial {
    grid-template-rows: 1fr;
    opacity: 1;
}
.assignmentListRowWrapper .assignmentDetailsPartial > .assignmentDetailsWrapper {
    overflow: hidden;
}

.assignmentListRowWrapper.show .assignmentDetailsPartial > .assignmentDetailsWrapper {
    padding: 20px;
    width: 100%;
    border: solid 2px;
}


/* Position List */

.positionListRowWrapper {
    background-color: #f2f2f2;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    cursor: pointer;
}

.positionListRowContent {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    background-color: #f2f2f2;
    border-top: dotted 1px #165b9e6b;
    border-bottom: dotted 1px #165b9e6b;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* New Assignment */
.assignmentModal {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
    left:0;
    top:0;
    overflow:auto;
    background: #000
}