@model AssignmentViewModel

<div class="assignmentDetailsWrapper">
    <div class="gridListContent">
        <div>
            @await Html.PartialAsync("Partials/CustomerDetails", @Model!.Kunde)
        </div>
        <div>
            @await Html.PartialAsync("Partials/ShareholderDetails", @Model!.Gesellschafter)
        </div>
    </div>
    <div>
        @await Html.PartialAsync("Partials/PositionListDetails", @Model!.PositionenVM)
    </div>
    <div class="gridListContent">
        @await Html.PartialAsync("Partials/BonusDetails", @Model!.Auftrag?.HatZugabe)
    </div>
    <div class="gridListContent">
        @await Html.PartialAsync("Partials/NoticeDetails", @Model!.Auftrag?.Hinweis)
    </div>
</div>