@{
    ViewData["Title"] = "Assignment Page";

    var jsonModel = System.Text.Json.JsonSerializer.Serialize(Model) ?? string.Empty;
}
@model List<AssignmentViewModel>?
<div class="alignContentEndContainer">
    <div class="paginationMenu" id="paginationMenu">
    </div>
</div>
<div class="headerListWrapper">
    <div class="gridListContentContainer gridListContent9">
        <div>Auftrag ID</div>
        <div>Kunde</div>
        <div>Firma</div>
        <div>Gesellschafter</div>
        <div>Summe Auftrag</div>
        <div>Hat Zugabe</div>
        <div>Erstellt Am</div>
        <div>Letzte Statusänderung</div>
        <div>Status</div>
    </div>
</div>
<div class="gridContainer">
    @if (Model != null)
    {
        @foreach (var row in Model)
        {
            @await Html.PartialAsync("AssignmentListRow", row)
        }
    }
</div>