@model AssignmentViewModel

<div class="gridContainer" class="gridListContent">
    <div>
        @Model?.Auftrag?.PK_Auftrag
        adress Oben Link
    </div>
    <div>
        gesellschafter Oben Rechts
    </div>
    <div>
        List of Articles Mitte
    </div>
    <div>
        Zugabe Unten
    </div>
    <div>
        Hinweis Ganz Unten
    </div>
</div>

<style>

</style>