
@{
    var jsonModel = System.Text.Json.JsonSerializer.Serialize(Model.Kunden);
}
@model AssignmentFormViewModel

<input data-name="assigmentCustomerFK" value="" type="hidden" />
<input data-row-id="hiddenAssignmentSum" property-name="assignmentData" name="SummeAuftrag" value="" type="hidden" />
<div class="assignmentModal">
    <div class="alignContentEndContainer">
        <a class="btn btn-small btn-primary" onclick="closeNewAssignment()">X</a>
    </div>
    <div class="ModuleWrapper">
        <div>
            <div id="customerSelection">
                <div class="form" id="customerSearchForm">
                    <span id="customerSearch">
                        <label id="searchBarLabel">Kunden auswählen:</label><br />
                        <input class="searchBar" id="customerSearchBar" placeholder="Suche ..." oninput="search(this, this.value, @jsonModel, '/Home/SearchResultPartialCustomer/')" required />
                    </span>
                    <span>
                        <a id="btnAddCustomer" class="btn btn-secondary" onclick="openCustomerForm(this)">Kunde anlegen</a>
                    </span>
                </div>
                <div class="gridContentContainer gridListContent3">
                    <div class="customerFormContainer" id="selectedCustomer">
                    </div>
                    <div class="shareholderFormContainer" id="selectedShareholder">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ModuleWrapper">
        @await Html.PartialAsync("Partials/PositionListForm", Model.Artikel)     
        @await Html.PartialAsync("Partials/AssignmentSumForm")
    </div>
    <div class="ModuleWrapper">
        @await Html.PartialAsync("Partials/BonusForm")
    </div>
    <div class="ModuleWrapper">
        @await Html.PartialAsync("Partials/NoticeForm")
    </div>
    <div class="ModuleWrapper">
        <div class="gridContentContainer gridListContent2 ">
            <div>
                @Html.DisplayFor(modelItem => Model.Vertriebsmitarbeiter, "SalesStaffInformation")
            </div>
            <div class="alignContentEndContainer">
                <a class="btn btn-primary" onclick="saveNewAssignment()">Auftrag anlegen</a>
            </div>
        </div>
    </div>
</div>
