<div>

    <div><input type="text" placeholder="Kundennummer" /></div>
    <div><input type="text" placeholder="Gesellschafter" /></div>
    <div><input type="text" placeholder="Industrie/Verkaufsberater" /></div>
    <div><input type="text" placeholder="Suche Artikel" /></div>
    <div>Artikelliste</div>
    <div><label>Zugabe:</label><input type="checkbox" />Ja<input type="checkbox" />Nein</div>
    <div><input type="text" placeholder="Wichtiger Hinweis:" /></div>
    <a class="btn btn-check" asp-controller="Home" asp-action="Index">Auftrag anlegen</a>
</div>