@model double


<div class="alignContentEndContainer"><div class="keyValue">
    <div class="key"><span>Gesamt: </span></div><div class="value" data-row-id="assignmentSum">  @Html.DisplayFor(modelItem => Model, "FormatCurrency")</div>
</div></div>