 <div class="assignmentDetailsWrapper">
    <div class="gridListContent">
        <div>
            @await Html.PartialAsync("Partials/CustomerForm")
        </div>
        <div>
            @await Html.PartialAsync("Partials/ShareholderForm")
        </div>
    </div>
    <div>
        @await Html.PartialAsync("Partials/PositionListForm")
    </div>
    <div class="gridListContent">
        @await Html.PartialAsync("Partials/BonusForm", 1)
    </div>
    <div class="gridListContent">
        @await Html.PartialAsync("Partials/NoticeForm")
    </div>
</div>
<a class="btn btn-check" asp-controller="Home" asp-action="Dashboard">Auftrag anlegen (FAKE)</a>