@model AssignmentViewModel?

<div class="assignmentDetailsWrapper">
    <div class="gridListContentContainer gridListContent3">
        <div class="customerDetailsContainer">
            @await Html.PartialAsync("Partials/CustomerDetails", @Model!.Kunde)
        </div>
        <div class="shareholderDetailsContainer">
            @await Html.PartialAsync("Partials/ShareholderDetails", @Model!.Gesellschafter)
        </div>
    </div>
    <div class="gridListContentContainer">
        @await Html.PartialAsync("Partials/PositionListDetails", @Model!.PositionenVM)
        @await Html.PartialAsync("Partials/AssignmentSumDetails", @Model!.Auftrag?.SummeAuftrag)
    </div>
    <div class="gridListContent gridListContent2">
        @await Html.PartialAsync("Partials/BonusDetails", @Model!.Auftrag?.HatZugabe)
    </div>
    <div class="gridListContentContainer">
        @await Html.PartialAsync("Partials/NoticeDetails", @Model!.Auftrag?.Hinweis)
    </div>
    <div class="alignContentEndContainer">
        <a class="btn btn-primary" onclick="cancelAssignment(@Model?.Auftrag?.PK_Auftrag)">stornieren</a>
    </div>
</div>
