@{
    var jsonModel = System.Text.Json.JsonSerializer.Serialize(@Model) ?? string.Empty;
}
@model AssignmentViewModel?

<div class="assignmentListRowWrapper" id="rowId_@Model?.Auftrag?.PK_Auftrag" onclick="toggleAssignmentDetails(this)">
    <div class="assignmentListRowContent">
        <div>@Model?.Auftrag?.PK_Auftrag</div>
        <div>@Model?.Kunde?.Nachname</div>
        <div>@Model?.Kunde?.Firma</div>
        <div>@Model?.Gesellschafter?.Firmenname</div>
        <div>@Html.DisplayFor(modelItem => (@Model!.Auftrag!.SummeAuftrag), "FormatCurrency")</div>
        <div>@Html.DisplayFor(modelItem => (@Model!.Auftrag!.HatZugabe), "IntTobooleanCheckbox")</div>
        <div>@Model?.Auftrag?.ErstelltAm</div>
        <div>@Model?.Auftrag?.LetzteStatusAenderung</div>
        <div>@Html.DisplayFor(modelItem => (@Model!.Auftrag!.Auftragsstatus), "AssignmentStatus")</div>
    </div>
    <div class="assignmentDetailsPartial">
        @await Html.PartialAsync("Partials/AssignmentDetails", Model)
    </div>
</div>
