@model AssignmentViewModel

<div class="assignmentDetailsWrapper">
    <div class="gridListContent gridListContent2">
        <div>
            @await Html.PartialAsync("Partials/CustomerDetails", @Model!.Kunde)
        </div>
        <div>
            @await Html.PartialAsync("Partials/ShareholderDetails", @Model!.Gesellschafter)
        </div>
    </div>
    <div>
        @await Html.PartialAsync("Partials/PositionListDetails", @Model!.PositionenVM)
        <div>
            <span>Gesamt Netto:</span><div>@Html.DisplayFor(modelItem => (@Model!.Auftrag!.SummeAuftrag), "FormatCurrency")</div>
        </div>
    </div>
    <div class="gridListContent gridListContent2">
        @await Html.PartialAsync("Partials/BonusDetails", @Model!.Auftrag?.HatZugabe)
    </div>
    <div class="gridListContent gridListContent2">
        @await Html.PartialAsync("Partials/NoticeDetails", @Model!.Auftrag?.Hinweis)
    </div>
</div>