<div class="gridListContent gridListContent2">
    <div>
        <div>
            <label>Kd.-Nr.</label>
            <input property-name="customerData" name="Kundennummer" type="text" />
        </div>
        <div>
            <label>Vorname</label>
            <input property-name="customerData" name="Vorname" type="text"/>
        </div>
        <div>
            <label>Nachname</label>
            <input property-name="customerData" name="Nachname" type="text"/>
        </div>
        <div>
            <label>Firma</label>
            <input property-name="customerData" name="Firma" type="text"/>
        </div>
        <div>
            <label>Tel.</label>
            <input property-name="customerData" name="Telefon" type="tel" />
        </div>
        <div>
            <span></span>
        </div>
        <div>
            <label>Straße</label>
            <input property-name="customerData" name="Strasse" type="text"/>
        </div>
        <div>
            <label>PLZ</label>
            <input property-name="customerData" name="Postleitzahl" type="text"/>
        </div>
        <div>
            <label>Ort</label>
            <input property-name="customerData" name="Ort" type="text"/>
        </div>
        <div>
            <span></span>
        </div>
    </div>
    <div>
        <div>
            <input data-name="isWorkshopCheckbox" type="checkbox" /> Werkstatt
        </div>
        <div>
            <input data-name="isSaleCheckbox" type="checkbox" /> Handel
        </div>
    </div>
    <div>
        <a id="btnAddCustomer" class="btn btn-dark" onclick='saveNewCustomer()'>Kunden speichern</a>
    </div>
</div>