<div><input type="text" placeholder="Suche Kunde" /></div>
<div><input type="text" placeholder="Ansprechpartner" /></div>
<div><input type="text" placeholder="Firma" /></div>
<div><input type="text" placeholder="Telefon" /></div>
<div><input type="text" placeholder="Straße" /></div>
<div><input type="text" placeholder="PLZ" /></div>
<div><input type="text" placeholder="Ort" /></div>
<div><input type="checkbox" />Werkstatt</div>
<div><input type="checkbox" />Handel</div>