@model Kunde?

<input data-name="shareholderFK" data-fk_shareholder="@Model?.FK_Gesellschafter" type="hidden" />
<div class="keyValue" id="company">
    <div class="key">Firma</div>
    <div class="value">@Model?.Firma</div>
</div>
<div class="keyValue" id="customerId">
    <div class="key">Kd.-Nr.</div>
    <div class="value">@Model?.Kundennummer</div>
</div>
<div class="keyValue" id="firstName">
    <div class="key">Vorname</div>
    <div class="value">@Model?.Vorname</div>
</div>
<div class="keyValue" id="lastName">
    <div class="key">Nachname</div>
    <div class="value">@Model?.Nachname</div>
</div>
<div class="keyValue" id="mail">
    <div class="key">E-Mail</div>
    <div class="value">not@implemented</div>
</div>
<div class="keyValue" id="telephone">
    <div class="key">Tel.</div>
    <div class="value">@Model?.Telefon</div>
</div>
<div class="keyValue" id="street">
    <div class="key">Straße</div>
    <div class="value">@Model?.Strasse</div>
</div>
<div class="keyValue" id="postalCode">
    <div class="key">PLZ</div>
    <div class="value">@Model?.Postleitzahl</div>
</div>
<div class="keyValue" id="city">
    <div class="key">Ort</div>
    <div class="value">@Model?.Ort</div>
</div>
<div id="isWorkshopOrTrader">
    <div>
        @Html.DisplayFor(modelItem => (@Model!.IstWerkstatt), "IntTobooleanCheckbox") Werkstatt
        @Html.DisplayFor(modelItem => (@Model!.IstHandel), "IntTobooleanCheckbox") Handel
    </div>
</div>