<div class="gridListContent gridListContent2">
    <div class="form-group" id="customerForm">
        <input property-name="customerData" name="Kundennummer" type="text" required placeholder="Kd.-Nr." />

        <input property-name="customerData" name="Vorname" type="text" required placeholder="Vorname" />

        <input property-name="customerData" name="Nachname" type="text" required placeholder="Nachname" />

        <input property-name="customerData" name="Firma" type="text" placeholder="Firma" />

        <input property-name="customerData" name="Telefon" type="tel" placeholder="Tel." />

        <input property-name="customerData" name="Strasse" type="text" required placeholder="Straße" />

        <input property-name="customerData" name="Postleitzahl" type="text" required placeholder="PLZ" />

        <input property-name="customerData" name="Ort" type="text" required placeholder="Ort" />
    </div>

    <div class="checkbox-group">
        <div>
            <input id="isWorkshopCheckbox" data-name="isWorkshopCheckbox" type="checkbox" />
            <label for="isWorkshopCheckbox">Werkstatt</label>
        </div>

        <div>
            <input id="isSaleCheckbox" data-name="isSaleCheckbox" type="checkbox" />
            <label for="isSaleCheckbox">Handel</label>
        </div>
    </div>

    <div>
        <a id="btnAddCustomer" class="btn btn-dark" onclick="saveNewCustomer()">Kunden speichern</a>
    </div>
</div>
