@{ 
    var jsonModel = System.Text.Json.JsonSerializer.Serialize(Model);
}
@model List<Artikel>

<div> 
    <div class="headerListWrapper">
        <div style="margin:1rem; padding:1rem;">
            <label id="searchBarLabel">Search:</label><br />
            <input id="searchBar" oninput="search(this.value, @jsonModel)" />
            <div id="searchResult"></div>
        </div>
        <div class="gridListContent">
            <div>Art. Nr.</div>
            <div>Bezeichnung</div>
            <div>Zusatzbezeichnung</div>
            <div>Einzelpreis Netto</div>
            <div>Verpackungseinheit</div>
            <div>Menge</div>
            <div>Pos. Gesamtpreis Netto</div>
        </div>
        <div id="selectedItem"></div>
    </div>
</div>