<div>
    <div class="headerListWrapper">
        <div class="gridListContent">
            <div>Art. Nr.</div>
            <div>Bezeichnung</div>
            <div>Zusatzbezeichnung</div>
            <div>Einzelpreis Netto</div>
            <div>Verpackungseinheit</div>
            <div>Menge</div>
            <div>Pos. Gesamtpreis Netto</div>
        </div>
    </div>
</div>