@model List<Artikel>

<div>
    <div style="margin:1rem; padding:1rem;">
        <label id="searchbarLabel">Search:</label><br />
        <input id="searchbar" oninput="search(this.value, @Model)" />
        <div id="searchResult"></div>
    </div>
    <div class="headerListWrapper">
        <div class="gridListContent">
            <div>Art. Nr.</div>
            <div>Bezeichnung</div>
            <div>Zusatzbezeichnung</div>
            <div>Einzelpreis Netto</div>
            <div>Verpackungseinheit</div>
            <div>Menge</div>
            <div>Pos. Gesamtpreis Netto</div>
        </div>
    </div>
</div>