@{
    var jsonModel = System.Text.Json.JsonSerializer.Serialize(Model);
}
@model List<Artikel>

<div>
    <div>
        <label id="searchBarLabel">Artikel auswählen:</label><br />
        <input class="searchBar" placeholder="Suche ..." oninput="search(this, this.value, @jsonModel, '/Home/SearchResultPartialArticle/')" />
    </div>
    <div class="headerListWrapper">
        <div class="gridListContent gridListContent7">
            <div>Art. Nr.</div>
            <div>Bezeichnung</div>
            <div>Zusatzbezeichnung</div>
            <div>Einzelpreis Netto</div>
            <div>Menge</div>
            <div>Verpackungseinheit</div>
            <div>Pos. Gesamtpreis Netto</div>
        </div>
    </div>
    <div>
        <div id="selectedArticle"></div>
    </div>
</div>