@{ 
    var jsonModel = System.Text.Json.JsonSerializer.Serialize(Model);
}
@model List<Artikel>

<div> 
    <div class="headerListWrapper">
        <div>
            <label id="searchBarLabel">Search:</label><br />
            <input class="searchBar" oninput="search(this, this.value, @jsonModel, '/Home/SearchResultPartialArticle/')" />
        </div>
        <div class="gridListContent gridListContent7">
            <div>Art. Nr.</div>
            <div>Bezeichnung</div>
            <div>Zusatzbezeichnung</div>
            <div>Einzelpreis Netto</div>
            <div>Menge</div>
            <div>Verpackungseinheit</div>
            <div>Pos. Gesamtpreis Netto</div>
        </div>
        <div id="selectedArticle"></div>
    </div>
</div>