@model List<Gesellschafter>

<div>
    <label>Gesellschafter</label>
    <select class="form-control" id="selectedShareholder">
       <option>...</option>           
        @foreach (var item in Model)
        {
            <option>@item.Firmenname</option>
        }
    </select>
</div>