@model List<Gesellschafter>

<div>
    <label>Gesellschafter</label>
    <select property-name="customerData" name="FK_Gesellschafter" class="form-control" id="selectedShareholder" required>
       <option value="0">...</option>           
        @foreach (var item in Model)
        {
            <option value="@item.PK_Gesellschafter">@item.Firmenname</option>
        }
    </select>
</div>