@model Gesellschafter

<div>
    <label>Gesellschafter</label>
    <select property-name="shareholderData" name="PK_Gesellschafter" class="form-control" disabled>
        @if (Model != null && Model.PK_Gesellschafter != 0)
        {
            <option value="@Model.PK_Gesellschafter">@Model.Firmenname</option>
        }
        else
        {
            <option value="0">...</option>
        }
    </select>
</div>
